body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

.profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: block;
}

.home {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px 20px;
}

.heading {
    margin: 0;
    color: #fff;
    background-color: #388E3C;
    font-size: 3em;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

h1 {
    margin: 0;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}

nav {
    background-color: transparent;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 1.1em;
}

nav ul li a:hover {
    background-color: #388E3C;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #5EBB8A;
    min-width: 150px;
    padding: 0;
    z-index: 1;
}

nav ul ul li {
    display: block;
}

nav ul ul li a {
    padding: 10px 20px;
}

nav ul li:hover > ul {
    display: block;
}

main {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

section {
    padding: 40px 20px;
    background-color: #ffffff;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2E7D32;
    margin-bottom: 10px;
    font-size: 2em;
}

p, ul {
    color: #555;
    text-align: left;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1em;
}

#contact a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#contact a:hover {
    background-color: #388E3C;
}

.link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-container a {
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.link-container img {
    border-radius: 8px;
    transition: transform 0.3s;
}

.link-container img:hover {
    transform: scale(1.05);
}

.link-container p {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    font-size: 1.1em;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 1.1em;
}
